<%= form_with(model: pelicula, local: true) do |form| %>
  <% if pelicula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pelicula.errors.count, "error") %> prohibited this pelicula from being saved:</h2>

      <ul>
      <% pelicula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pelicula_name %>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars, id: :pelicula_stars %>
  </div>

  <div class="field">
    <%= form.label :main_actor %>
    <%= form.text_field :main_actor, id: :pelicula_main_actor %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :pelicula_year %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :pelicula_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
